<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <title>Easy Code</title>
</head>
<body>
    <nav class="navbar">
        <ul class="menu">
            <a href="/">
                <img src="{% static 'images/logo/logo.png' %}" alt="" width="25" height="25">
            </a>

            <li class="menu-item"><a href="/">Курсы</a></li>
            <li class="menu-item">
                <a href="#">Категории</a>
                <ul class="submenu">
                    <li><a href="programming">Программирование</a></li> <br>
                    <li><a href="layouting">Верстка</a></li>
                </ul>
            </li>
            <li class="menu-item"><a href="ratings">Отзывы</a></li>
            <li class="menu-item"><a href="platform">О платформе</a></li>
            <li class="menu-item"><a href="authors">Авторам</a></li>
        </ul>

        <div class="user-options">
            {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Выйти</button>
            </form>
            {% else %}
                <a href="/accounts/login/">Вход</a>
                <a href="register">Регистрация</a>
            {% endif %}
        </div>
    </nav>
    <hr> <!-- Конец навигационного бара -->
    <!-- Видео -->
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/QvtYaUUo4nI?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>    
    <!-- Конец Видео -->
    <!-- Описание урока-->
    <hr>
    <h1 class="lesson-text-info">Информация по языку Си</h1>
    <p  class="lesson-text-info">Переменные невероятно важны, так как позволяют хранить информацию и использовать её в<br>
        дальнейшем. Вначале может быть не совсем понятно зачем вообще что-то записывать в<br>
        переменную, если можно просто оперировать значениями без них. Понимание переменных<br>
        придет немного позже, когда мы начнем создавать более сложные программы и нам <br>
        потребуется хранить информацию в каком-либо месте.</p>
    
    <h1 class="lesson-text-info">Целые числа</h1>

    <p  class="lesson-text-info">📍short - предназначен для хранения целых чисел. Диапазон чисел от -32 768 до 32 767;<br>
        📍unsigned short - предназначен для хранения целых положительных чисел. Диапазон чисел от 0 до 65 535;<br>
        📍int - предназначен для хранения целых чисел. Диапазон чисел от -2 147 483 648 до 2 147 483 647;<br>
        📍unsigned int - предназначен для хранения целых положительных чисел. Диапазон чисел от 0 до 4 294 967 295;<br>
        📍long - предназначен для хранения целых чисел. Диапазон чисел от –9 223 372 036 854 775 808 до 9 223 372 036 854 775 807; <br>
        📍unsigned long - предназначен для хранения целых положительных чисел. Диапазон чисел от 0 до 18 446 744 073 709 551 615.
    </p> 

    <h1 class="lesson-text-info">Числа с точкой</h1>
    <p  class="lesson-text-info">
        📍float - для создания чисел с плавающей точкой. Диапазон чисел от от -3.4*1038 до 3.4*1038;<br>
        📍double - для создания чисел с плавающей точкой. Диапазон чисел от от ±4.9*10-324 до ±1.8*10308.
    </p>

    <h1 class="lesson-text-info">Прочие типы данных</h1>
    <p  class="lesson-text-info">
        📍bool - логический тип данных. Предназначен для записи истинного (true) или ложного (false) значения;<br>
        📍char - тип данных для работы с символами. Позволяет поместить в одинарных кавычках какой-либо символ.
    </p> <hr>
    <!-- Описание урока конец-->
    <!-- Уроки -->
    <h2 class="c-h2">Основы Си</h2>
    <h2 class="c-h2"> <a href="https://www.onlinegdb.com/online_c_compiler">Компилятор</a> </h2>
    <div class="c-row">
        <ul class="c-ul">
            <li class="c-li"><a class="c-a" href="c-lesson-1">1. Привет, Мир!</a></li>
            <li class="c-li"><a class="c-a" href="c-lesson-2">2. Переменные и типы данных</a></li>
            <li class="c-li"><a class="c-a" href="c-lesson-3">3. Массивы</a></li>
            <li class="c-li"><a class="c-a" href="c-lesson-4">4. Условные операторы</a></li>
            <li class="c-li"><a class="c-a" href="c-lesson-5">5. Циклы</a></li>
            <li class="c-li"><a class="c-a" href="c-lesson-6">6. Работа с функциями</a></li>
            <li class="c-li"><a class="c-a" href="c-lesson-7">7. Структуры данных</a></li>
            <li class="c-li"><a class="c-a" href="c-lesson-8">8. Указатели</a></li>
        </ul>
    </div>

<!-- Инфо понель -->
<footer>
    <div class="footer-column">
        <h3>О нас</h3> <br>
        <a>+ 998 (90) 960 20 62</a>
        <a>asilov.sardorbek@mail.ru</a>
        <a href="condition">Условия использования</a>
        <a href="politics">Политика конфиденциальности</a>
    </div>

    <div class="footer-column">
        <h3>Курсы</h3> <br>
        <ul>
            <li>Java</li>
            <li>JavaScript</li>
            <li>Python</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>PHP</li>
        </ul>
    </div>

    <div class="footer-column">
        <h3>Курсы</h3><br>
        <ul>
            <li>C#</li>
            <li>C</li>
            <li>Ruby</li>
            <li>TypeScript</li>
            <li>Racket</li>
            <li>Go</li>
        </ul>
    </div>

    <div class="footer-column">
        <h3>Сообщество</h3> <br>
        <a href="platform">О платформе</a>
        <a href="ratings">Отзывы</a>
        <a href="authors">Авторам</a>
    </div>

    <div class="footer-column">
        <h3>Направление обучения</h3><br>
        <a href="programming">Программирование</a>
        <a href="layouting">Верстка</a>
    </div>
</footer>
    
</body>
</html>
